.post-content {
    display: inline-block;
    margin-left: 20px;
}

article {
    position: relative;
    background-color: #f1f1f1;
    padding: 20px;
}

.post_title{
  letter-spacing: 2.5px;
  text-transform: capitalize;
}

.post_pseudo{
  display: inline-block;
  text-transform: capitalize;
}

.post_date{
  display: inline-block;
  margin-left: 30px;
}

.post_text{
  text-align: justify;
  max-width: 80%;
  padding-left: 20px;
}

.delete-button {
    position: absolute;
    right: 20px;
    top: 20px;
}

.img-thumbnail{
  max-width: 470px;
}
